name: Hello World!

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
    hello_world_job:
      runs-on: ubuntu-latest
      steps:
        - name: Say hello
          run: echo "Hello World!"
        - name: Display date
          run: date
        - name: Display directory content
          run: ls -l